/***************************TAG SELECTORS********************************/

  body {
    background-color: #F0FFFF;
    color: #20B2AA;
  }
  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 10%;
  }
  h1 {
    color: #48D1CC;
    text-transform: uppercase;
  }
  h3 {
    color: #48D1CC;
  }

  * {box-sizing: border-box;}

  /***************************CLASS SELECTORS********************************/
  /* Container needed to position the overlay */
.container {
  position: relative;
  width: 50%;
  max-width: 300px;
}

/* make the image responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}
  /***************************ID SELECTORS********************************/
